Bonjour {{ name }},

Ton inscription à la XXVIe édition du tournoi de Nantes est validée. N'hésite pas à nous contacter à l'adresse clubyosakura@yahoo.fr si tu as des questions.

On a hâte de t'accueillir ! À bientôt :)
L'équipe organisatrice.