Bonjour {{ name }},

Merci de t'être inscrit⋅e à la XXVIe édition du tournoi de Nantes ! Nous allons valider l'inscription dès que possible.

N'hésite pas à nous contacter à l'adresse clubyosakura@yahoo.fr si tu as des questions.

On a hâte de t'accueillir ! À bientôt :)
L'équipe organisatrice.